CompileFlags:
  Add: 
    - "-std=c++23"
    - "-stdlib=libc++"
    - "-I/usr/lib/llvm-14/include/c++/v1"  # Adjust version number if needed
    - "-I/usr/local/include"
    - "-I/usr/include"
    - "--gcc-toolchain=/usr"
  Compiler: clang++
Index:
  Background: Build
Diagnostics:
  UnusedIncludes: Strict
  Suppress: 
    - tweak_failed
